body {
    font-family: 'Josefin Sans', 'ヒラギノ丸ゴ Pron', 'Hiragino Maru Gothic Pron', 'メイリオ', Meiryo, 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
      transition: background-color 0.3s ease, color 0.3s ease;
  visibility: hidden;
  }
body.loaded {
  visibility: visible;
}
img {
  pointer-events: none;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  user-select:none;
}

.column-main {
    width: 100% !important; /* 幅を画面全体に設定 */
    max-width: 700px !important; /* 最大幅を800pxに制限 */
    margin: 0 auto; /* 中央に揃える */
}
a {
  color: #d32e75;
}
.has-text-primary {
  color: #d32e75 !important;
}
.has-background-primary {
  background-color: #d32e75 !important;
}
.has-text-link {
  color: #d32e75 !important;
}
.has-background-link {
  background-color: #d32e75 !important;
}
.breadcrumb a {
  color: #d32e75;
}
a.dropdown-item.is-active,
button.dropdown-item.is-active {
  background-color: #d32e75;
}
.list-item.is-active {
  background-color: #d32e75;
}
.menu-list a.is-active {
  color: #d32e75;
}
.message.is-primary .message-header {
  background-color: #d32e75;
}
.message.is-primary .message-body {
  border-color: #d32e75;
}
.message.is-link .message-header {
  background-color: #d32e75;
}
.message.is-link .message-body {
  border-color: #d32e75;
}
.navbar.is-primary {
  background-color: #d32e75;
}
@media screen and (min-width: 1088px) {
  .navbar.is-primary .navbar-dropdown a.navbar-item.is-active {
    background-color: #d32e75;
  }
}
.navbar.is-link {
  background-color: #d32e75;
}
.navbar.is-link .navbar-dropdown a.navbar-item.is-active {
  background-color: #d32e75;
}
.navbar.is-danger {
  background-color: #f14668;
}
.navbar.is-danger .navbar-brand > a.navbar-item:focus,
.navbar.is-danger .navbar-brand .navbar-link:focus,
.navbar.is-danger .navbar-brand > a.navbar-item:hover,
.navbar.is-danger .navbar-brand .navbar-link:hover,
.navbar.is-danger .navbar-brand > a.navbar-item.is-active,
.navbar.is-danger .navbar-brand .navbar-link.is-active {
  background-color: #ef2e55;
}
@media screen and (min-width: 1088px) {
  .navbar.is-danger .navbar-start > a.navbar-item:focus,
  .navbar.is-danger .navbar-end > a.navbar-item:focus,
  .navbar.is-danger .navbar-start .navbar-link:focus,
  .navbar.is-danger .navbar-end .navbar-link:focus,
  .navbar.is-danger .navbar-start > a.navbar-item:hover,
  .navbar.is-danger .navbar-end > a.navbar-item:hover,
  .navbar.is-danger .navbar-start .navbar-link:hover,
  .navbar.is-danger .navbar-end .navbar-link:hover,
  .navbar.is-danger .navbar-start > a.navbar-item.is-active,
  .navbar.is-danger .navbar-end > a.navbar-item.is-active,
  .navbar.is-danger .navbar-start .navbar-link.is-active,
  .navbar.is-danger .navbar-end .navbar-link.is-active {
    background-color: #ef2e55;
  }
  .navbar.is-danger .navbar-item.has-dropdown:focus .navbar-link,
  .navbar.is-danger .navbar-item.has-dropdown:hover .navbar-link,
  .navbar.is-danger .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #ef2e55;
  }
  .navbar.is-danger .navbar-dropdown a.navbar-item.is-active {
    background-color: #f14668;
  }
}
.navbar-item.is-tab:focus,
.navbar-item.is-tab:hover {
  border-bottom-color: #d32e75;
}
.navbar-item.is-tab.is-active {
  border-bottom-color: #d32e75;
  color: #d32e75;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: #d32e75;
}
.navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
  color: #d32e75;
}
.navbar-dropdown a.navbar-item.is-active {
  color: #d32e75;
}
a.navbar-item.is-active,
.navbar-link.is-active {
  color: #d32e75;
}
.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus {
  border-color: #d32e75;
}
.pagination-link.is-current {
  background-color: #d32e75;
  border-color: #d32e75;
}
.panel.is-primary .panel-heading {
  background-color: #d32e75;
}
.panel.is-primary .panel-tabs a.is-active {
  border-bottom-color: #d32e75;
}
.panel.is-primary .panel-block.is-active .panel-icon {
  color: #d32e75;
}
.panel.is-link .panel-heading {
  background-color: #d32e75;
}
.panel.is-link .panel-tabs a.is-active {
  border-bottom-color: #d32e75;
}
.panel.is-link .panel-block.is-active .panel-icon {
  color: #d32e75;
}
.panel-block.is-active {
  border-left-color: #d32e75;
}
.panel-block.is-active .panel-icon {
  color: #d32e75;
}
.tabs li.is-active a {
  border-bottom-color: #d32e75;
  color: #d32e75;
}
.tabs.is-toggle li.is-active a {
  background-color: #d32e75;
  border-color: #d32e75;
}
.button:focus,
.button.is-focused {
  border-color: #d32e75;
}
a.box:focus {
  box-shadow: 0 0 0 1px #d32e75;
}
a.box:active {
  box-shadow: inset 0 1px 2px rgba(10,10,10,0.2), 0 0 0 1px #d32e75;
}
.button.is-primary {
  background-color: #d32e75;
}
.button.is-primary[disabled],
fieldset[disabled] .button.is-primary {
  background-color: #d32e75;
}
.button.is-link {
  background-color: #d32e75;
}
.button.is-link[disabled],
fieldset[disabled] .button.is-link {
  background-color: #d32e75;
}
.button.is-primary.is-inverted {
  color: #d32e75;
}
.button.is-primary.is-outlined {
  border-color: #d32e75;
  color: #d32e75;
}
.button.is-primary.is-outlined[disabled],
fieldset[disabled] .button.is-primary.is-outlined {
  border-color: #d32e75;
  color: #d32e75;
}
.button.is-link.is-outlined {
  border-color: #d32e75;
  color: #d32e75;
}
.button.is-link.is-outlined[disabled],
fieldset[disabled] .button.is-link.is-outlined {
  border-color: #d32e75;
  color: #d32e75;
}
.notification.is-primary {
  background-color: #d32e75;
  color: #fff;
}
.notification.is-link {
  background-color: #d32e75;
  color: #fff;
}
.progress.is-primary::-webkit-progress-value {
  background-color: #d32e75;
}
.progress.is-primary::-moz-progress-bar {
  background-color: #d32e75;
}
.progress.is-primary::-ms-fill {
  background-color: #d32e75;
}
.progress.is-primary:indeterminate {
  background-image: linear-gradient(to right, #d32e75 30%, #ededed 30%);
}
.progress.is-link::-webkit-progress-value {
  background-color: #d32e75;
}
.progress.is-link::-moz-progress-bar {
  background-color: #d32e75;
}
.progress.is-link::-ms-fill {
  background-color: #d32e75;
}
.progress.is-link:indeterminate {
  background-image: linear-gradient(to right, #d32e75 30%, #ededed 30%);
}
.table td.is-primary,
.table th.is-primary {
  background-color: #d32e75;
  border-color: #d32e75;
}
.table td.is-link,
.table th.is-link {
  background-color: #d32e75;
  border-color: #d32e75;
}
.table td.is-selected,
.table th.is-selected {
  background-color: #d32e75;
}
.table tr.is-selected {
  background-color: #d32e75;
}
.tag:not(body).is-primary {
  background-color: #d32e75;
}
.tag:not(body).is-link {
  background-color: #d32e75;
}
.input.is-primary,
.textarea.is-primary {
  border-color: #d32e75;
}
.input.is-link,
.textarea.is-link {
  border-color: #d32e75;
}
.select.is-primary:not(:hover)::after {
  border-color: #d32e75;
}
.select.is-primary select {
  border-color: #d32e75;
}
.select.is-link:not(:hover)::after {
  border-color: #d32e75;
}
.select.is-link select {
  border-color: #d32e75;
}
.help.is-primary {
  color: #d32e75;
}
.help.is-link {
  color: #d32e75;
}
.hero.is-primary {
  background-color: #d32e75;
}
@media screen and (max-width: 1087px) {
  .hero.is-primary .navbar-menu {
    background-color: #d32e75;
  }
}
.hero.is-primary .tabs.is-boxed li.is-active a,
.hero.is-primary .tabs.is-toggle li.is-active a,
.hero.is-primary .tabs.is-boxed li.is-active a:hover,
.hero.is-primary .tabs.is-toggle li.is-active a:hover {
  border-bottom-color: #d32e75;
  color: #d32e75;
}
.hero.is-link {
  background-color: #d32e75;
}
.hero.is-link .tabs.is-boxed li.is-active a,
.hero.is-link .tabs.is-toggle li.is-active a,
.hero.is-link .tabs.is-boxed li.is-active a:hover,
.hero.is-link .tabs.is-toggle li.is-active a:hover {
  border-bottom-color: #d32e75;
  color: #d32e75;
}
.pagination-next.is-disabled,
.pagination-previous.is-disabled {
  pointer-events: none;
}
a.navbar-item:focus, .navbar-link:focus, a.navbar-item:focus-within, .navbar-link:focus-within, a.navbar-item:hover, .navbar-link:hover, a.navbar-item.is-active, .navbar-link.is-active {
    color: #d32e75;
}

.navbar-brand .navbar-title{
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
    margin-left: 5px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
}

.footer-site-title {
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
  margin-left: 5px; /* ロゴとタイトルの間にスペースを追加 */
}
.navbar, .navbar-menu, .footer {
        background: #f7f7f7;
}

.card {
    background: #f7f7f7;
}
.card .title {
    font-size: 1.4em;
}

.navbar-start , .level-start{
    font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.columns .card .content h2 {
    font-size: 1.2em; /* フォントサイズを小さく指定 */
}

.navbar-container {
    width: 100% !important; /* 幅を画面全体に設定 */
    max-width: 700px !important; /* 最大幅を800pxに制限 */
    margin: 0 auto; /* 中央に揃える */
}
.container .level {
    width: 100% !important; /* 幅を画面全体に設定 */
    max-width: 700px !important; /* 最大幅を800pxに制限 */
    margin: 0 auto; /* 中央に揃える */
}

.night .navbar, .night .card:hover{
    background-color: rgba(40, 44, 52, 0.5);
}